<app-top-bar></app-top-bar>
<div class="competitions">
  <h2 class="competitions__title">Competitions</h2>
  <app-statistic
    [title]="Title.WeeklyChanges"
    [participants]="participants"
    [statistics]="weeklyChallenges"
    [winner]="winnerWeeklyChallenges"
  ></app-statistic>
  <app-statistic
    [title]="Title.DoubleGain"
    [participants]="participants"
    [statistics]="doubleGainWeekContest"
    [winner]="winnerDoubleGainWeekContest"
  ></app-statistic>
</div>
<button type="button" class="button">+</button>
